body {
  background-color: rgb(234, 239, 240);
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header {
  background-color: #007B9E;
  padding: 50px;
  color: white;
  text-align: center;

}
nav a {
  margin:0cap;
  color: white;
  text-decoration:none;
  padding: 5px;
}
footer {
   background:#007B9E ;
   color:hsl(0, 0%, 100%);
   text-align:center;
   padding:15px;
   position:fixed;
   width:100%;
   bottom: 0;

}
.sup{
  color: white;
  text-decoration: none;
}
h2{
 text-align: center; 
 text-decoration:underline;
}
div {
      text-decoration: none;
      color: rgb(12, 1, 1);
      padding: 8px;
      text-align: center;
  }
nav a:hover
 {
      color: red;
      background-color: rgb(80, 143, 207);
      background-blend-mode: color;
  }
.button-container{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  color: white;
  list-style-type:sq;
  margin:none;
  width: 100%;
  white-space:3px;
  gap: 30px;
  transform:scale(1.3);
  margin-top: 60px;
}  
